*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100%;
    background-color: black;    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav img{
    height: 70px;
    width: 200px;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: "";
    height: 3px;
    background-color: crimson;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s ease-in-out;
}
nav ul li a:hover::after{
    width: 100%;   
}

.icons{
    height: 70px;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.icons a{
    font-size: 25px;
    color: white;
}
.icons a:nth-child(1){
    color: blue;
}
.icons a:nth-child(3){
    color: crimson;
}
.icons a:nth-child(4){
    color: green;
}

/* Hero Section  */

.hero-container{
    width: 100%;
    padding: 20px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.profile-outer{
    height: 500px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile{
    height: 500px;
    width: 400px;
    
}
img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.info-outer{
    height: 500px;
    width: 60%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.info-outer h1{
    font-size: 3rem;

}
.info-outer p{
    width: 80%;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-align: justify;
}
.typing{
    font-size: 27px;
    margin: 20 auto;
      width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid black;
    animation: typing 8s steps(22) infinite;
    font-weight: bold;
}
.typing span::before{
    content: "I'm Frontend Developer";
    color: crimson;
    animation: changeText 8s infinite;
}
@keyframes typing{
    0% {width: 0;}
    20% {width: 27ch;}
    40% {width: 27ch;}
    50% {width: 0;}
    60% {width: 0;}
    80% {width: 26ch;}
    100% {width: 26ch;}
}
@keyframes changeText {
    0%,50% {
        content: "I'm Backend Developer";
    }
    51%,100%{
        content: "I'm Frontend Developer";
    }
}

/* About  Section  */
#about h1{
    color: crimson;
    text-align: center;
    font-size: 3rem;
}
#about hr{
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}

.about-text p{
    width: 80%; 
   margin-top: 15px;
   margin: 20px auto;
   font-size: 18px;
   color: white ;
   text-align: justify;
}
.about-text span{
    color: crimson;
    font-weight: bold;
}
.about-text ul{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-text ul li{
    
    font-size: 18px;
    color: crimson;
    font-weight: bold;
}

/* My Skills  */
#skills h1{
    color: crimson;
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
}
#skills hr{
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}
.skill-outer{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display:  grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;
}
.skill-box{
    height: 200px;
    border-radius: 10px;
}
.skill-box img{
    height: 100%;
    width: 100%;
}

.skill-box:hover{
    transform: translateY(-7px);
}

/* MY Services  */
#services h1{
    color: crimson;
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
}
#services hr{
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}
.services-outer{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display:  grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px; 

}
.services-box{
    height: 400px;
    border-radius: 10px;
    background: linear-gradient(45deg,crimson,rgb(29, 29, 124));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-box h3{
    text-align: center;
    font-size: 20px;
    margin: 10px;

}
.services-box p{
    text-align: justify;
    margin: 0px 20px;
}
#contect h1{
    color: crimson;
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
}
#contect hr{
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}
.contect-outer{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px; 
}
.contect-inner-one{
    height:500px;
    width: 60%;

    border-radius: 10px;
    
    
}

.contect-inner-one p{
     color: white;
     font-size: 18px;
     text-align: justify;
     margin: 10px;
}
.contect-inner-one ul{
    color: white;
    list-style: none;
    margin: 10px;
}
.contect-inner-one ul li a{
    color: white;
    text-decoration: none;
}
.contect-inner-one ul li i{
    margin: 5px;
}
.contect-inner-two{
    height: 500px;
    width: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; 

}
.contect-inner-two label{
    font-size: 20px;
    color: white;
    margin: 10px;
}
.contect-inner-two input{
    border-radius: 5px;
    font-size: 15px;
    width: 300px;
    padding: 5px;
    margin: 10px;
    background-color: rgb(210, 206, 206) ;
}
.contect-inner-two textarea{
    height: 110px;
    font-size: 15px;
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
}
.contect-inner-two button{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px 20px;
    background-color: crimson;
    font-weight: bold;
    cursor: pointer;
}
#footer{
    margin-top: 100px;
    height: 50px;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.footer-inner{
    width: 80%;
    height: 50px;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer h3{

    color: white;
    font-weight: normal;
    font-size: 15px;
}




    